@import '_var';

.Error_wrap {
  grid-column: 1;
  justify-self: center;
  align-self: center;
  @media #{$medium-up} {
    grid-column: 2;
  }
  @media #{$large-up} {
    grid-column: 3;
  }
}

.Error_msg {
  color: #999999;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

button.Error_Action--reload {
  margin: 20px auto;
  display: block;
  border: 0;
  background-color: transparent;
  color: #ddd;
}
